<% results.forEach(function (item) {
    var str = objectToString(item)
    var strForDelete = "{'title':'"+item.referenceName +"','objectId':'"+item.objectId+"'}"
  %>

    <div class="col-md-4" id="rootDiv_<%=item.objectId%>">
      <div class="info-box" style="padding: 10px">
                <span class="info-box-number"><%= item.referenceName %></span>
                <span class="users-list-date">SenderId: <strong><%= item.senderId %></strong> &nbsp; ApiKey:</span>
                <span class="users-list-date"><pre style="padding: 0px 5px"><%= item.apiKey %></pre></span>
                <button class="btn btn-primary btn-sm" onclick="editAction(<%= str %>)" style="padding:0px 5px;margin-top: 5px">Edit</button>
                <button class="btn btn-danger btn-sm" type="button" style="padding:0px 5px;margin-top: 5px;margin-left: 5px" data-toggle="modal" data-whatever="<%= strForDelete %>" data-target="#deleteAction">Delete</button>
         </div>
    </div>
  
<% }); %>

<!-- Confirmaion -->
<div class="modal fade" style = "padding-top:15%" id="deleteAction" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-footer">
          <label hidden="true" id="lblObjectId"></label>
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" onclick="deleteAction()" id="btnSend">Delete</button>
        </div>
      </div>
  </div>
</div>

<!-- Loading modal -->
  <div class="modal fade" style = "padding-top:15%" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
      <div class="modal-content" style="padding:10px;width: 50px;margin: 0 auto;border-radius: 5px">
            <div class="fa fa-spinner fa-spin text-light-blue" style="font-size: 30px;"></div>
      </div>
  </div>

<link rel="stylesheet" href="../lte/plugins/iCheck/square/blue.css">
<script src="../lte/plugins/iCheck/icheck.min.js"></script>
<script type="text/javascript">

  
  // jquery extend function
$.extend(
{
    redirectPost: function(location, args)
    {
        var form = $('<form></form>');
        form.attr("method", "post");
        form.attr("action", location);

        $.each( args, function( key, value ) {
            var field = $('<input></input>');
            field.attr("type", "hidden");
            field.attr("name", key);
            field.attr("value", value);
            form.append(field);
        });
        $(form).appendTo('body').submit();
    }
});
  
  function editAction(params){
      $.redirectPost("edit_android_push", params);
    }
  
  function deleteAction(){
      var objectId = (document.getElementById('lblObjectId').innerHTML).trim();
      var url = 'loadData?functionName=deleteAndroidPush'
      var params = {'objectId':objectId}
      $('#loadingModal').modal('show');
      $.post( url, params)
          .done(function( results ) {
            $('#deleteAction').modal('hide');
            $('#loadingModal').modal('hide');
            var elem = document.getElementById('rootDiv_'+objectId);
            elem.parentNode.removeChild(elem);            
          }).fail(function(xhr, status, error){
            $('#loadingModal').modal('hide');
              alert(xhr.responseText)
          });
    }
  $('#deleteAction').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) 
    var data = button.data('whatever') 
    data = eval('(' + data + ')')
    var modal = $(this)
    modal.find('.modal-title').text('Delete ' + data.title+' ?')
    document.getElementById('lblObjectId').innerHTML = data.objectId
  })
</script>